@keyframes SmallToBig {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

@keyframes flipHeads {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(1800deg);
    }
}


@keyframes flipTails {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(1980deg);
    }
}

@keyframes flipHeadsQuick {
    from {
        transform: rotateY(90);
    }
    to {
        transform: rotateY(360);
    }
}


@keyframes flipTailsQuick {
    from {
        transform: rotateY(90);
    }
    to {
        transform: rotateY(180);
    }
}