{% extends 'roulette/main.html' %}

{% block title %}
    Roulette
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">

                <div style="text-align:center">
                    {% for message in messages %}
                        {% if 'success' in message.tags %}
                            <div class="alert alert-success" role="alert">
                              {{ message }}
                            </div>
                        {% elif 'error' in message.tags %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}

                    <form method="POST">
                        {% csrf_token %}
                        <h2>Bet amount</h2>
                        {{ form.bet_amount }}<br>

                        <h2>Choice:</h2>
                        {{ form.condition }}<br>

                        <h2>Choose Color</h2>
                        {{ form.bet_color }}<br>

                        <h2>Choose Number</h2>
                        {{ form.bet_number }}<br>

                        <button type="submit" class="btn btn-success btn-lg btn-block">Spin the Wheel!</button>
                    </form>
                </div>

            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>

{% endblock %}
