{% extends 'coinflip/main.html' %}

{% block title %}
    Coin Flip
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">

                <div style="text-align:center">
                    {% for message in messages %}
                        {% if 'success' in message.tags %}
                            <div class="alert alert-success" role="alert">
                              {{ message }}
                            </div>
                        {% elif 'error' in message.tags %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}

                    <form method="POST">
                        {% csrf_token %}
                        <h2>Bet amount</h2>
                        {{ form.bet_amount }}<br>

                        <h2>Choose Side</h2>
                        {{ form.bet_side }}<br>

                        <button type="submit" class="btn btn-success btn-lg btn-block">Flip Coin!</button>
                    </form>
                </div>

            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>

{% endblock %}
