{% extends 'mainpage/main.html' %}

{% block content %}
    <div class="bet-history-container">
        <div class="bet-history-table-container">
            <h2 class="table-title">Bet History</h2>
            <table class="bet-history-table">
                <thead class="bet-history-header">
                    <tr >
                        <th class="bet-history-header-cell">Game</th>
                        <th class="bet-history-header-cell">Bet Amount</th>
                        <th class="bet-history-header-cell">Win Amount</th>
                        <th class="bet-history-header-cell">Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in all_bet_history %}
                        <tr class="bet-history-row">
                            <td class="bet-history-row-cell">{{ entry.game }}</td>
                            <td class="bet-history-row-cell">{{ entry.bet_amount }}</td>
                            <td class="bet-history-row-cell">{{ entry.win_amount }}</td>
                            <td class="bet-history-row-cell">{{ entry.timestamp }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}